:root {
    --bg-primary-color: rgb(16, 16, 16);
    --bg-secondary-color: rgb(37, 37, 37);
    --bg-active-color: rgb(234, 234, 234);
    --bg-danger-color: rgb(219, 32, 32);
    --bg-water-color: rgb(91, 175, 208);
    --bg-grass-color: rgb(51, 175, 51);

    --text-primary-color: rgb(238, 238, 238);
    --text-secondary-color: rgb(200, 202, 200);
    --text-tertiary-color: rgb(151, 150, 150);
    --text-active-color: rgb(24, 25, 24);

    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 1.5rem;
    --padding-xl: 2rem;
    --padding-2xl: 3rem;

    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 1.5rem;
    --margin-xl: 2rem;
    --margin-2xl: 3rem;

    --gutter-sm: 0.5rem;
    --gutter-md: 1rem;
    --gutter-lg: 1.5rem;
    --gutter-xl: 2rem;
    --gutter-2xl: 3rem;

    --font-size-sm: 0.075rem;
    --fontnsize-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;


    --border-radius-sm: 0.2rem;
    --border-radius-md: 0.25rem;
    --border-radius-lg: 0.3rem;
    --border-radius-xl: 0.4rem;
    --border-radius-2xl: 0.5rem;
}